/* Bacground du body et de la navbar  */
body,.navbar-dark, .bg-light{
    background-color: #1a1a1a !important;
}

/* Font du prenom*/
.navbar-brand{
font-family: 'Kaushan Script', cursive;
}

.nav-item{
    font-size: 11pt;
    font-weight: 300;
}

/* Font de titrage*/
.nav-item, h1, h4{
    font-family: 'Merriweather', serif !important;
    color: white !important;
}

.mr-auto{
    margin-left: 70%;
}

.carousel-indicators li{
    width:15px !important;
    height:15px !important;
    border-radius: 50%;
}

/* Texte de la page presentation.php */
.texte, .contact{
    text-align: center;
    margin-top: 100px;
    padding: 5%;
}

/* Alignement du form de contact.php */
.col-md-8{
    margin-left: auto; 
    margin-right: auto;
}

/* Font du texte courant + label de contact.php */
p, label{
    font-family: 'KoHo', sans-serif;
    color: white;
}

.col-sm-3 {
padding-top: 40px;
padding-bottom: 30px;
}

/* Couleur du texte courant */
.col-sm-3 p{
    color: white;
    font-weight: 500;
}

.bottom-left{
    position: absolute;
    bottom: 52px;
    left: 16px;
  color: white;
  font-weight: 600;
  /* text-shadow: 2px 2px 15px grey; */
}

.bottom-left2{
    position: absolute;
    bottom: 20px;
  left: 16px;
  color: white;
  font-weight: 300;
  /* text-shadow: 2px 2px 15px black; */
  opacity: 1;
}

/* Retire les bords de la "carte" */
.card{
    border: none !important;
}

/* Retire les bords arrondis de l'image */
.card-img{
    /* border-radius: none !important; */
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
    /* zoom: 1; */
    display: block;
  width: 100%;
  height: auto;
}

/* .overlay{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease; */
  /* background-image: url("../images/wallpaper_GOC.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; */
/* } */

/* .card:hover .overlay {
    border-radius: .25rem;
    opacity: 1;
  } */

text{
    font-size: 25px;
    font-weight: 600px;
}

  text, rect{
      opacity: 0;
      transition: .5s ease;
  }

  text:hover{
    opacity: 1;
}

rect:hover{
    opacity: 0.5;
}
/* .card-img:hover{ */
    /* opacity: 0.70; */
  /* IE8 et antérieurs */
  /* filter: alpha(opacity=70); */
  /* Déclenche "hasLayout" dans IE 7 et antérieurs */
  /* zoom: 1; */
  /* background-color: black
} */

/* Format du texte dans presentation.php */
.image{
    margin-bottom: 3%;
}

.justification, .image{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.justification_c{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 3%;
}

.taille_img{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.equipe{
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

.projet, .github{
    /* margin-left: 25%; */
    margin-top: 3%;
    width: 10%;
    text-align: center;
}

.espace{
    margin-top: 3%;
}

a{
    color: white !important;
}

a:hover{
    text-decoration: none !important;
    font-weight:600;
}

/*  Taille du bouton d'envoi dans contact.php*/
.btn-block{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

/* .form-control{
    background-color: transparent !important;
} */

ul li {
    list-style: none;
}

ul li a {
    color: white;
}

rect{
    background-image: url("../images/CDV.png")
}

.weight{
    margin-top: 3%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-weight: 600;
}